.navBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 138px;
    background-color: #434343;
    border-radius: 0px 0px 32px 0px;
}

.navBar img {
    width: 73px;
    height: 73px;
    border-radius: 50%;
}

.navBarAuxiliar {
    margin-top: 50px;
    margin-left: 20px;
}

.navBar button {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.navBar button:last-child  img {
    width: 33px;
    height: 33px;
    margin-left: 20px;
}