.navBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 138px;
    background-color: #434343;
    border-radius: 0px 0px 32px 0px;
}

.navBarAuxiliar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
}

.navBar button {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.navBar button:last-child  img, .noSelected{
    width: 33px;
    height: 33px;
  
}

